*,*:before,*:after{
    box-sizing:border-box;
    }
.banner{
    background:  url('./img/banner.png') center;
    background-size: cover;
    height: 958px;
    border: 1px solid #707070;
    display: flex;
    align-items: center;
    justify-content: center;

}
.context{
    color: #FFFFFF;
}

.context span{
    line-height: 42px;
    font-size: 24px;
}

.context h1{
    line-height: 106px;
    font-size: 80px;
    margin-bottom: 32px;
}

.context p{
    line-height: 36px;
    font-style: italic;
    font-size: 24px;
    margin-bottom: 40px;
}

.icon{
    display: flex;
    justify-content: space-between
}
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    margin-top: 56px;
    margin-bottom: 40px;
    font-size: 64px;
    line-height: 84px;
}

.about ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.about ul li{
    font-size: 24px;
    line-height: 42px;

}
.school{
    text-align: center;
    font-style: italic;
}
.disc{
    list-style-type: disc;
    margin-bottom: 56px;
}
hr{
    width: 380px;
    margin: 24px auto 28px;
    border-top: 1px solid #000;
    border-bottom-width: 0;
  }
.brand{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    background-repeat: no-repeat;
    color: #FFFFFF;

}
.brand h2{
    font-style: italic;
    margin-bottom: 12px;
}
.brand ul{
    text-align-last: center;
}
.brand ul li{
    text-align-last: center;
    margin: 12px 0 32px 0;
    font-size: 24px;
}
.LL30F20{
    line-height: 30px;
    font-size: 20px;
}
.brandimg{
    width: 1200px;
    display: flex;
    margin-top: 40px;
    margin-bottom: 160px;
    justify-content: space-between;
}

.work{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 96px;
}
.work h2{
    margin-bottom: 16px;
}


.work ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1200px;

}

.workp{
    text-align: center;
    margin-bottom: 48px;
    margin-top: 16px;
    font-size: 20px;
    line-height: 42px;
}
.fotter{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    color:white;
    padding-bottom: 64px;
}
.fotter h2{
    margin-top: 64px;
    margin-bottom: 16px;
}
.fotter li{
    margin-top: 16px;
    font-size: 24px;
    line-height: 36px;
    font-style: italic;

}